---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/NickyBobby/repos?access_token=29a5d907fd39253bfe601eb5a636a87e1eaec99d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1460127960'
      Etag:
      - W/"587dd886323fc602b06f7d2ea2548431"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - e3d34db59edd3d63f5d0
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/13855453/repos?access_token=29a5d907fd39253bfe601eb5a636a87e1eaec99d&page=2>;
        rel="next", <https://api.github.com/user/13855453/repos?access_token=29a5d907fd39253bfe601eb5a636a87e1eaec99d&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":55440611,"name":"apicurious","full_name":"NickyBobby/apicurious","owner":{"login":"NickyBobby","id":13855453,"avatar_url":"https://avatars.githubusercontent.com/u/13855453?v=3","gravatar_id":"","url":"https://api.github.com/users/NickyBobby","html_url":"https://github.com/NickyBobby","followers_url":"https://api.github.com/users/NickyBobby/followers","following_url":"https://api.github.com/users/NickyBobby/following{/other_user}","gists_url":"https://api.github.com/users/NickyBobby/gists{/gist_id}","starred_url":"https://api.github.com/users/NickyBobby/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NickyBobby/subscriptions","organizations_url":"https://api.github.com/users/NickyBobby/orgs","repos_url":"https://api.github.com/users/NickyBobby/repos","events_url":"https://api.github.com/users/NickyBobby/events{/privacy}","received_events_url":"https://api.github.com/users/NickyBobby/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/NickyBobby/apicurious","description":null,"fork":false,"url":"https://api.github.com/repos/NickyBobby/apicurious","forks_url":"https://api.github.com/repos/NickyBobby/apicurious/forks","keys_url":"https://api.github.com/repos/NickyBobby/apicurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/NickyBobby/apicurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/NickyBobby/apicurious/teams","hooks_url":"https://api.github.com/repos/NickyBobby/apicurious/hooks","issue_events_url":"https://api.github.com/repos/NickyBobby/apicurious/issues/events{/number}","events_url":"https://api.github.com/repos/NickyBobby/apicurious/events","assignees_url":"https://api.github.com/repos/NickyBobby/apicurious/assignees{/user}","branches_url":"https://api.github.com/repos/NickyBobby/apicurious/branches{/branch}","tags_url":"https://api.github.com/repos/NickyBobby/apicurious/tags","blobs_url":"https://api.github.com/repos/NickyBobby/apicurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/NickyBobby/apicurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/NickyBobby/apicurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/NickyBobby/apicurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/NickyBobby/apicurious/statuses/{sha}","languages_url":"https://api.github.com/repos/NickyBobby/apicurious/languages","stargazers_url":"https://api.github.com/repos/NickyBobby/apicurious/stargazers","contributors_url":"https://api.github.com/repos/NickyBobby/apicurious/contributors","subscribers_url":"https://api.github.com/repos/NickyBobby/apicurious/subscribers","subscription_url":"https://api.github.com/repos/NickyBobby/apicurious/subscription","commits_url":"https://api.github.com/repos/NickyBobby/apicurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/NickyBobby/apicurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/NickyBobby/apicurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/NickyBobby/apicurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/NickyBobby/apicurious/contents/{+path}","compare_url":"https://api.github.com/repos/NickyBobby/apicurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/NickyBobby/apicurious/merges","archive_url":"https://api.github.com/repos/NickyBobby/apicurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/NickyBobby/apicurious/downloads","issues_url":"https://api.github.com/repos/NickyBobby/apicurious/issues{/number}","pulls_url":"https://api.github.com/repos/NickyBobby/apicurious/pulls{/number}","milestones_url":"https://api.github.com/repos/NickyBobby/apicurious/milestones{/number}","notifications_url":"https://api.github.com/repos/NickyBobby/apicurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/NickyBobby/apicurious/labels{/name}","releases_url":"https://api.github.com/repos/NickyBobby/apicurious/releases{/id}","deployments_url":"https://api.github.com/repos/NickyBobby/apicurious/deployments","created_at":"2016-04-04T19:59:33Z","updated_at":"2016-04-07T00:53:19Z","pushed_at":"2016-04-07T21:18:44Z","git_url":"git://github.com/NickyBobby/apicurious.git","ssh_url":"git@github.com:NickyBobby/apicurious.git","clone_url":"https://github.com/NickyBobby/apicurious.git","svn_url":"https://github.com/NickyBobby/apicurious","homepage":null,"size":71,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":47772316,"name":"binary-search-tree","full_name":"NickyBobby/binary-search-tree","owner":{"login":"NickyBobby","id":13855453,"avatar_url":"https://avatars.githubusercontent.com/u/13855453?v=3","gravatar_id":"","url":"https://api.github.com/users/NickyBobby","html_url":"https://github.com/NickyBobby","followers_url":"https://api.github.com/users/NickyBobby/followers","following_url":"https://api.github.com/users/NickyBobby/following{/other_user}","gists_url":"https://api.github.com/u[...]
