---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=29a5d907fd39253bfe601eb5a636a87e1eaec99d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1460061394'
      Etag:
      - W/"f8837be303b051140aee30efb92c38ab"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - e3d34db59edd3d63f5d0
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":53013112,"name":"comic-db","full_name":"ShannonPaige/comic-db","owner":{"login":"ShannonPaige","id":12816548,"avatar_url":"https://avatars.githubusercontent.com/u/12816548?v=3","gravatar_id":"","url":"https://api.github.com/users/ShannonPaige","html_url":"https://github.com/ShannonPaige","followers_url":"https://api.github.com/users/ShannonPaige/followers","following_url":"https://api.github.com/users/ShannonPaige/following{/other_user}","gists_url":"https://api.github.com/users/ShannonPaige/gists{/gist_id}","starred_url":"https://api.github.com/users/ShannonPaige/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ShannonPaige/subscriptions","organizations_url":"https://api.github.com/users/ShannonPaige/orgs","repos_url":"https://api.github.com/users/ShannonPaige/repos","events_url":"https://api.github.com/users/ShannonPaige/events{/privacy}","received_events_url":"https://api.github.com/users/ShannonPaige/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/ShannonPaige/comic-db","description":"","fork":false,"url":"https://api.github.com/repos/ShannonPaige/comic-db","forks_url":"https://api.github.com/repos/ShannonPaige/comic-db/forks","keys_url":"https://api.github.com/repos/ShannonPaige/comic-db/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ShannonPaige/comic-db/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ShannonPaige/comic-db/teams","hooks_url":"https://api.github.com/repos/ShannonPaige/comic-db/hooks","issue_events_url":"https://api.github.com/repos/ShannonPaige/comic-db/issues/events{/number}","events_url":"https://api.github.com/repos/ShannonPaige/comic-db/events","assignees_url":"https://api.github.com/repos/ShannonPaige/comic-db/assignees{/user}","branches_url":"https://api.github.com/repos/ShannonPaige/comic-db/branches{/branch}","tags_url":"https://api.github.com/repos/ShannonPaige/comic-db/tags","blobs_url":"https://api.github.com/repos/ShannonPaige/comic-db/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ShannonPaige/comic-db/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ShannonPaige/comic-db/git/refs{/sha}","trees_url":"https://api.github.com/repos/ShannonPaige/comic-db/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ShannonPaige/comic-db/statuses/{sha}","languages_url":"https://api.github.com/repos/ShannonPaige/comic-db/languages","stargazers_url":"https://api.github.com/repos/ShannonPaige/comic-db/stargazers","contributors_url":"https://api.github.com/repos/ShannonPaige/comic-db/contributors","subscribers_url":"https://api.github.com/repos/ShannonPaige/comic-db/subscribers","subscription_url":"https://api.github.com/repos/ShannonPaige/comic-db/subscription","commits_url":"https://api.github.com/repos/ShannonPaige/comic-db/commits{/sha}","git_commits_url":"https://api.github.com/repos/ShannonPaige/comic-db/git/commits{/sha}","comments_url":"https://api.github.com/repos/ShannonPaige/comic-db/comments{/number}","issue_comment_url":"https://api.github.com/repos/ShannonPaige/comic-db/issues/comments{/number}","contents_url":"https://api.github.com/repos/ShannonPaige/comic-db/contents/{+path}","compare_url":"https://api.github.com/repos/ShannonPaige/comic-db/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ShannonPaige/comic-db/merges","archive_url":"https://api.github.com/repos/ShannonPaige/comic-db/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ShannonPaige/comic-db/downloads","issues_url":"https://api.github.com/repos/ShannonPaige/comic-db/issues{/number}","pulls_url":"https://api.github.com/repos/ShannonPaige/comic-db/pulls{/number}","milestones_url":"https://api.github.com/repos/ShannonPaige/comic-db/milestones{/number}","notifications_url":"https://api.github.com/repos/ShannonPaige/comic-db/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ShannonPaige/comic-db/labels{/name}","releases_url":"https://api.github.com/repos/ShannonPaige/comic-db/releases{/id}","deployments_url":"https://api.github.com/repos/ShannonPaige/comic-db/deployments","created_at":"2016-03-03T02:18:17Z","updated_at":"2016-03-23T04:35:57Z","pushed_at":"2016-03-10T16:54:55Z","git_url":"git://github.com/ShannonPaige/comic-db.git","ssh_url":"git@github.com:ShannonPaige/comic-db.git","clone_url":"https://github.com/ShannonPaige/comic-db.git","svn_url":"https://github.com/ShannonPaige/comic-db","homepage":null,"size":64309,"stargazers_count":7,"watchers_count":7,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":4,"forks":0,"open_issues":4,"watchers":7,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}}]'
  recorded_at: Thu, 07 Apr 2016 19:36:34 GMT
recorded_with: VCR 3.0.1
